$base_font_color: #71777c;
$base_font_gray: #9B9B9B;
$orange_red: #FF3A5F;
$base_yellow: #FF882C;
$border_line_gray: #EFEFEF;
$border_default_color: #b98a8a;
$border_white: #dcdfe6;
$base_theme_color: #b98a8a;