@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #715c5c;
  --primary-bg: #f6f8fa;
  --primary-bg-black: #08080B;
  --primary-font-dark-color:#9BA2AF;
  --primary-blue:#007fff;
}

.dark {
  color-scheme: dark;
}

html {
  height: 100%;
  font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
}

body {
  min-height: 100%;
  /* background: #fbfbfb; */
}

abbr[title] {
  text-decoration: none;
}

.markdown-body{
  background: transparent !important;
}

.dark .markdown-body{
  color: var(--primary-font-dark-color);
}

.dark .markdown-body pre{
  background: #0b0b0b;
}

/* 文章目录样式 */

/* .markdown-navigation{
  padding-left: 0.5rem;
} */

.markdown-navigation .title-anchor.active {
  background: var(--primary-bg) !important;
  border-radius: 4px;
}

.markdown-navigation .title-anchor {
  color: var(--primary-bg-black);
  padding: 0.3em;
  margin: 0 !important;
}
.markdown-navigation .title-anchor:hover{
  border-radius: 4px;
  background: var(--primary-bg) !important;
}

.dark .markdown-navigation .title-anchor{
  color: var(--primary-font-dark-color);
}
.dark .markdown-navigation .title-anchor.active {
  background: var(--primary-bg-black) !important;
}

.dark .markdown-navigation .title-level2{
  color: var(--primary-font-dark-color)
}

.dark .markdown-navigation .title-anchor:hover{
  border-radius: 4px;
  background: var(--primary-bg-black) !important;
  color: var(--primary-blue) !important;
}