@tailwind base;
@tailwind components;
@tailwind utilities;


.dark {
  color-scheme: dark;
}

html {
  height: 100%;
  font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
}

body {
  min-height: 100%;
  /* background: #fbfbfb; */
}

abbr[title] {
  text-decoration: none;
}

.markdown-body{
  background: transparent !important;
}

:root {
  --primary-color: #715c5c;
}
